<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
      body{
            background-color:dodgerblue;
            }
       table{
       border: 1px solid black;
        align:center;
        padding :30px;
       background-color: #f1f1c1;
            }
       input{
              border-color:green;
            }

    </style>
</head>
<body>

<center> <h1>Registration</h1><br><br>
    <form action="" method="post">
        <table>
            <tr>
                <td>
        <label>Name :</label>
                </td>
                <td>
        <input type="text" name="name"><br><br>
                </td>
            </tr>

        <tr>
            <td>
        <label>Qualification :</label>
               </td>
                <td>
        <input type="text" name="qualification"><br><br>
            </td>
        </tr>
        <tr>
            <td>
        <label>Specialisation :</label>
            </td>
          <td>
        <input type="text" name="spec"><br><br>
            </td>
        </tr>


             <tr>
            <td>
        <label>Username :</label>
            </td>
                <td>
        <input type="text" name="username"><br><br>
            </td>
        </tr>

             <tr>
            <td>
        <label>Password :</label>
            </td>
                <td>
        <input type="text" name="password"><br><br>
            </td>
        </tr>

             <tr>
            <td>
        <label>Confirm :</label>
            </td>
                <td>
        <input type="text" name="cnfrm"><br><br>
            </td>
        </tr>
                <tr><td></td>
            <td>
        <input type="submit" value="Register" name="submit">
            </td>

        </tr>
        </table>

    </form>

</center>


</body>
</html>