<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        img{
            border-color:red;
            border:3px,3px;
            }
    </style>
</head>
<body bgcolor="lightblue">
<form action="" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
    <input type="file" name="im">
    <input type="submit" name="send">
      </td>  </tr>
        <tr>
            <td>
    <img src="static/uploads/saheer.jpg" width="320" height="240">
     </td>   </tr>
    </table>



</form>

</body>
</html>