<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body{
            background-color:dodgerblue;
            }
       table{
       border: 1px solid black;
        align:center;
        padding :30px;
       background-color: #f1f1c1;
            }
       input{
              border-color:green;
            }


    </style>
</head>
<body>
<center>
    <h1>Login</h1><br><br><br><br><br><br>
<form action="" method="post">
    <table>
        <tr>
            <td>
             <lablel> Name : </lablel>
            </td>
            <td>
            <input type="text" name="username" required><br><br>
            </td>

        </tr>
        <tr>
            <td>
     <lablel> Password : </lablel>
                </td>
            <td>
    <input type="password" name="password" required><br><br>
        </td>
        </tr>
        <tr>
            <td>
    <input type="submit" name="login" value="login"><br>
    </td>
            <td>
            <a href="/register/"> <input type="button" value="Register"></a>
    </td>
        </tr>
    </table>

</form>
</center>
</body>
</html>