<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <style>
       body{
            background-color:dodgerblue;
            }
       table{
       border: 1px solid black;
        align:center;
        padding :30px;
       background-color: #f1f1c1;
            }
       input{
              border-color:green;
            }
    </style>
</head>
<body>
<center> <h1>Registration</h1><br><br>
    <form action="" method="post">
        <table>
            <tr>
                <td>
        <label>Name :</label>
                </td>
                <td>
        <input type="text" name="name"><br><br>
                </td>
            </tr>
            <tr>
                <td>
        <label>Blood :</label>
                     </td>
                <td>
        <select name="blood">
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select><br><br>
                </td>
            </tr>
        <tr>
            <td>
        <label>Date of Birth :</label>
               </td>
                <td>
        <input type="date" name="dob"><br><br>
            </td>
        </tr>
        <tr>
            <td>
        <label>Height :</label>
            </td>
          <td>
        <input type="text" name="height"><br><br>
            </td>
        </tr>
                <tr>
            <td>
        <label>Weight :</label>
            </td>
                <td>
        <input type="text" name="weight"><br><br>
            </td>
        </tr>

             <tr>
            <td>
        <label>Username :</label>
            </td>
                <td>
        <input type="text" name="username"><br><br>
            </td>
        </tr>

             <tr>
            <td>
        <label>Password :</label>
            </td>
                <td>
        <input type="text" name="password"><br><br>
            </td>
        </tr>

             <tr>
            <td>
        <label>Confirm :</label>
            </td>
                <td>
        <input type="text" name="cnfrm"><br><br>
            </td>
        </tr>
                <tr align="center">
            <td>
        <input type="submit" value="Register" name="submit">
            </td>

        </tr>
        </table>

    </form>

</center>
</body>
</html>