{% extends 'layout.html' %}
{%- block styles %}
 {{super()}}
    <style>
   .media .avatar {
    width: 64px;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.basic-textarea textarea {
    height: auto;
}

.rounded-corners textarea {
    border-radius: 0.25rem;
}
    </style>
{%- endblock styles %}
  {% block content -%}
  <!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-lg-10 col-xl-8">

        <div class="media d-block d-md-flex">
            <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto" src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" alt="Avatar">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.


            </div>
        </div>
        <div class="media d-block d-md-flex">
            <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto" src="https://mdbootstrap.com/img/Photos/Avatars/img (2).jpg" alt="Avatar">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold blue-text">Caroline Horwitz</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos recusandae officiis commodi nulla est, tempore
                atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum, itaque.

                <div class="media d-block d-md-flex mt-3 shadow-textarea">
                    <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto" src="https://mdbootstrap.com/img/Photos/Avatars/img (3).jpg" alt="An image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="mt-0 font-weight-bold blue-text mb-3">Danny Tatuum</h5>
                        <div class="form-group basic-textarea rounded-corners mb-md-0 mb-4">
                            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea3" rows="3" placeholder="Write your comment..."></textarea>
                        </div>
                        <div class="text-right">
                        <button type="button" class="btn btn-outline-info  waves-effect btn-sm">Comment <i class="fa fa-comment-alt" aria-hidden="true"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
{%- endblock content %}