{% extends 'layout.html' %}
{%- block styles %}
 {{super()}}
        <style>

        .view {
    background: url("C:/Users/SHAHEER/Documents/MDB-Free/MDB Free/img/images/home.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
 body {

       background:url("static/img/images/home.jpg")no-repeat center center;
        background-size: cover;
    }

    </style>
{%- endblock styles %}
  {% block content -%}
   <html lang="en" class="full-height"/>

<!--Main Navigation-->
<!--Main Navigation-->

<!--Main Layout-->


<!--Section: Blog v.1-->

<!--/.Card-->
<!--Section: Blog v.1-->
<hr class="my-5">

<div class="containter">
    <div class="row justify-content-md-center">

      <div class="col-lg-3 col-sm col-xl-4 "><!--Card-->

        <!--Title-->

<!-- Default form login -->

<!-- Default form register -->
<div class="modal-dialog cascading-modal" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Header-->
                        <div class="modal-header primary-color white-text">
                            <h4 class="title">
                                <i class="fa fa-lock"></i> Login</h4>

                        </div>
                        <from>
                        <div class="modal-body">

                            <!-- Material input mail -->
                            <div class="md-form form-sm">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="username" name="username" class="form-control form-control-sm">
                                <label for="username">Username</label>
                            </div>

                            <!-- Material input password -->
                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="password" name="password" class="form-control form-control-sm">
                                <label for="password">Password</label>
                                <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="www.google.com" class="blue-text ml-1"> Password?</a></p>
                            </div>

                            <div class="text-center mt-4 mb-4">
                                <input type="submit" value="Sign in" name="signin" class="btn btn-primary">

                                </input>
                                 <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="/register" class="blue-text ml-1"> Sign Up</a></p>
        </div>

                            </div>


                        </div>
                    </from>
                    </div>
                    <!--/.Content-->
                </div>
<!-- Default form register -->

<!-- Default form login -->

<!--/.Card-->





    </div>
</div>
</div>
{%- endblock content %}